<h1><%= ong.name %></h1>
<p><%= ong.description %></p>
<h2>Algunas de nuestras iniciativas</h2>
<ul>
  <% initiatives.forEach(initiative => { %>
    <li><%= initiative.title %></li>
  <% }); %>
</ul>
<p><a href="<%= ongInitiativesPath %>">Ver todas</a></p>